@import "https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css";

body {
    color: #fff;
    background-color: #2C2F33;
    font-family: "Roboto";
}

.login-card {
    background-color: #2C2F33;
}

.message-area {
    background-color: #252525;
}

.server-area {
    background-color: #2C2F33;
}

.col-half {
    flex: 0 0 4.16667%; /* 50% of col-1 (8.33333%) */
    max-width: 4.16667%;
}

.col-9-5 {
    flex: 0 0 79.16667%;
    max-width: 79.16667%;
}

/*
.gradient-custom {
    /* fallback for old browsers 
    background: #D98F8F;
    
    /* Chrome 10-25, Safari 5.1-6 
    background: -webkit-linear-gradient(to right, rgb(232, 103, 236), #D98F8F);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 
    background: linear-gradient(to right, rgba(106, 17, 203, 1), #D98F8F)
}
*/
.background-cover-image{
    background-image: url("/static/blur-cover.png");
    height: 100%;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #D98F8F !important;
}

.shadows{
    box-shadow: 7px 10px 15px 5px #2C2F33;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
}

.menu {
    position: relative;
}
  
.top {
    position: absolute;
    top: 0;
    right: 0;
}

.navbar-logo{
    float:left
}

/* unvisited link */
a:link {
    color: #D98F8F;
}

/* visited link */
a:visited {
    color: #D98F8F;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: #D98F8F;
}


* { border: 1px solid red !important; } /*Used for debugging*/